/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100;1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,*:after,*:before {
  box-sizing: inherit;
}

:root {
  --primaryColor: #0e1025;
  --secondaryColor: #141738;
  --tertiaryColor: #034873;
  --textColor: #B0B6D9;
  --radius: 15px;
  --extraText: #F29F05;
}

body {
  background-color: var(--primaryColor);
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* background styling */
.overall-container{
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 2rem;
  align-items: start;
  min-width: 100vw;
  min-height: 100vh;
}

/* sidebar styling */
.container-side {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: auto;
  height: 100vh;
  margin-left: 15px;
  margin-top: 10px;
  background-color: var(--secondaryColor);

  align-self: start;
  
}
.category-icons{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 0.5rem;
}
.icon-style{
  margin-top: 20px;
  padding-top: 10px;
  color: var(--textColor);
  font-size: 20px;
}

/* home styling */
.search-box{
  position: sticky;
  top: 0;
  width: 81vw;
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  background-color: transparent;
  outline-color: transparent;
  border: 1px solid var(--textColor);
  border-radius: var(--radius);
  color: #B0B6D9;

}

.container-home {
  text-transform: capitalize;
}

/*category*/

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
  color: #B0B6D9;
}
.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 400;
}
.pagination .page-num:hover{
  background-color: #cc4704;
}
.pagination .active{
  background-color: #F29F05;
}

.all-movies-container {
 gap: 10px;
 margin-top: 10px;
 padding-bottom: 15px;
 margin-bottom: 10px;
}
.runtime-title{
  display: flex;
  justify-content: space-between;
}

/* movie block styling */
.squeeze {
  width: 300px;
  margin-top: 10px;
  
}

.details {
  margin-top: 8px;
  color: var(--textColor);
  font-weight: 200;
}
.constraints {
  width: 300px;
}
.horizontal {
  display: inline-flex;
  padding: 4px;
  border-radius: var(--radius);
}
.book {
  position: relative;
}
.actors-year{
  display: flex;
  justify-content: space-between;
  color: var(--textColor);
}

@media  screen and (max-width: 500px) {
  body{
    overflow-x: hidden;
  }
  
}